appdirs==1.4.3
backpack==0.1
blinker==1.4
cleo==0.5.0
click==6.7
Faker==0.7.11
Flask==0.12.1
flask-orator==0.2.0
gunicorn==19.7.1
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
lazy-object-proxy==1.2.2
MarkupSafe==1.0
mock==2.0.0
nose==1.3.7
orator==0.9.5
packaging==16.8
pbr==2.1.0
pendulum==1.2.0
psutil==5.2.2
psycopg2==2.7.1
py==1.4.33
pyaml==16.12.2
Pygments==2.2.0
pylev==1.3.0
pyparsing==2.2.0
pytest==3.0.7
python-dateutil==2.6.0
pytz==2017.2
pytzdata==2017.2
PyYAML==3.12
simplejson==3.10.0
six==1.10.0
tzlocal==1.4
Werkzeug==0.12.1
wrapt==1.10.10
